<% cache @product.cache_key_with_version do %>
<h1>Nome do produto: <%= @product.name %></h1>
<h2>ID do produto: <%= @product.id %></h2>
<% end %>

<hr>

<div>
    <%= link_to "<- Back", products_path %>
</div>

<% if authenticated? %>
<div>
    >
    <%= link_to "Edit product", edit_product_path(@product) %>
</div>

<div>
    <%= button_to "Delete", @product, method: :delete, data: {turbo_confirm: "Are you sure?" } %>
</div>
<% end %>